
body {
    background-image: url("https://cdn.wallpapersafari.com/66/81/X4VNE5.jpg");
    color: #333;
    margin: 0;
    padding: 0;
}

.about-section {
    width: 50%;
    margin: 40px auto;
    background-color: rgba(248, 243, 243, 0.603);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 50px 70px;
    text-align: center;
    transition: all 0.3s ease;
}


.about-section h2 {
    color: #ff69b4;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Cinzel Decorative', cursive;
}

.about-section p {
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-section ul {
    text-align: left;
    display: inline-block;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-section li {
    margin: 5px 0;
}

.about-section:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.5);
    transition: 0.3s;
}

